# Robot Framework results
output.xml
log.html
report.html
*.xml
*.html

# Screenshots
*.png

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
.env

# VS Code
.vscode/

# Compressed files
*.zip
*.tar.gz